.col-lg-3.white-box{"ng-controller": "userEditCtrl"}
  %img.user-image{"ng-src": "{{user.avatar_url}}"}
  -# = image_tag asset_path('default-user.jpg'), class:"user-image"
  %div{"ng-hide": "editing"}
    %h3{"style": "word-wrap: break-word;"}
      {{user.name}}
      %small
        @{{user.nick}}
    %p.text-muted{"ng-show": "user.description"}
      {{user.description}}
    %h6
      %i.fa.fa-birthday-cake
      %b {{user.birthday | date:'dd-MM-yyyy'}}
    %div{"ng-if": "is_current_user"}
      %a.btn.btn-warning{"ng-click": "toggle_edit()"}
        %i.fa.fa-pencil-square-o
        &nbsp;
        EDIT
  %div{"ng-show": "editing"}
    %br
    %form{"ng-submit": "save()"}
      .form-group
        %input.btn.btn-link{type:"file", :name => "avatar", "ng-model" => "avatar", "ngf-accept" => "'image/*'", "ngf-max-size" => "20MB", "ngf-min-height" => "100", "ngf-pattern" => "'image/*'", "ngf-select" => ""}
      .form-group.has-success
        %input.form-control{"ng-model": "new_name", required:true}
      .text-muted @{{user.nick}}
      .form-group.has-success
        %textarea.form-control.textarea-vertical{"ng-model": "new_description", required:true}
      %a.btn.btn-warning{"ng-click": "toggle_edit()"}
        %i.fa.fa-arrow-left
        &nbsp;
        BACK
      %button.btn.btn-success{type:"submit"}
        %i.fa.fa-check
        &nbsp;
        SAVE

  %div{"ng-if": "!is_current_user"}
    %button.btn.btn-danger{"ng-click": "toggle_follow()", "ng-if": "following"}
      %i.fa.fa-user-times
      &nbsp;
      UNFOLLOW
    %button.btn.btn-info{"ng-click": "toggle_follow()", "ng-if": "!following"}
      %i.fa.fa-user-plus
      &nbsp;
      FOLLOW

.col-lg-9.white-box
  .container-fluid.well
    .row
      .col-lg-4.text-center
        %span.badge
          {{user.followers_count}}
        &nbsp;
        %b FOLLOWERS
        %hr.hidden-lg
      .col-lg-4.text-center
        %span.badge
          {{user.followees_count}}
        &nbsp;
        %b FOLLOWING
        %hr.hidden-lg
      .col-lg-4.text-center
        %span.badge
          {{user.entries_count}}
        &nbsp;
        %b ENTRIES

  %div#entries{"ng-include": "'#{ asset_path("entries/index.html.haml") }'"}
