.modal.fade#modal-comments{"ng-controller": "commentCreateCtrl"}
  .modal-dialog
    .modal-content
      %form.form-horizontal{"ng-submit": "post()", "style": "border:solid;margin:1em"}
        .modal-header
          %button.close{"data-dismiss": "modal", "aria-hidden": true} &times;
          %h3.text-center
            %b
              %i.fa.fa-commenting.text-success
              Create a new comment

        .modal-body
          %fieldset
            .form-group
              %label.col-lg-3.control-label{for:"message"} Message:
              .col-lg-9
                %textarea.form-control.textarea-vertical#message{type:"text", placeholder:"Message", required:true, "ng-model": "message"}
        .modal-footer
          .actions.col-lg-10.col-lg-offset-2
            %button.btn.btn-primary{type:"submit"} Post it
