%div{"ng-controller": "entryIndexCtrl"}
  %div{"ng-repeat": "entry in entries"}
    .col-lg-10.col-lg-offset-1
      .entry
        .media
          .media-left
            %a{"ng-href": "/users/{{entry.user_id}}/entries/{{entry.id}}"}
              %img.thumbnail.media-object.user-thumb{"ng-src": "{{entry.user_avatar_url}}", style:"margin-auto;display:block;"}
          .media-body
            %h4.media-heading
              {{entry.title}}
              %small @{{entry.user_nick}}
            %p.text-justify{"ng-bind-html": "entry.message | mentionsFilter"}
            %p
              %b.text-danger
                {{entry.likers_count}}
                %i.fa.fa-heart
              %b {{entry.created_at | date:'dd-MM-yyyy'}}
            %hr

          %img.entry-image.img-rounded{"ng-show": "{{entry.image_url != undefined}}", "ng-src": "{{entry.image_url}}", style: "margin-bottom:1em;"}
          .col-lg-offset-1
            %div{"ng-if": "entry.user_id == current_user.id"}
              .col-lg-3{"ng-controller": "entryDeleteCtrl"}
                %a.btn.btn-link{href:"", "ng-click": "delete()"}
                  %i.fa.fa-trash
                  %b Delete
            %div{"ng-if": "entry.user_id != current_user.id"}
              %div{"ng-if": "!entry.liked"}
                .col-lg-3
                  %a.btn.btn-link{"ng-click": "toggle_like(entry)", href:""}
                    %i.fa.fa-thumbs-up
                    %b Like it!
              %div{"ng-if": "entry.liked"}
                .col-lg-3
                  %a.btn.btn-link{"ng-click": "toggle_like(entry)", href:""}
                    %i.fa.fa-thumbs-down
                    %b Stop liking

      %hr

    .row.well.text-center{"ng-if": "entries.length == 0"}
      %h1
        %em Upss, not entries have been submitted yet.
