.row.entry
  .col-lg-10.col-lg-offset-1
    %h3{style:"margin-bottom:20px"}
      %b
        %i.fa.fa-quote-right.text-success
        Entry
    .media
      .media-left
        %a{"ng-href": "/users/{{entry.user_id}}/entries/{{entry.id}}"}
          %img.thumbnail.media-object.user-thumb{"ng-src": "{{entry.user_avatar_url}}", style:"margin-auto;display:block;"}
      .media-body
        %h4.media-heading
          {{entry.title}}
          %small @{{entry.user_nick}}
        %p.text-justify{"ng-bind-html": "entry.message | mentionsFilter"}
        %p
          %b.text-danger
            {{entry.likers_count}}
            %i.fa.fa-heart
          %b {{entry.created_at | date:'dd-MM-yyyy'}}
        %hr

      %img.entry-image.img-rounded{"ng-src": "{{entry.image_url}}", style: "margin-bottom:1em;"}
      .col-lg-offset-1
        %div{"ng-if": "entry.user_id != current_user.id"}
          %div{"ng-if": "!entry.liked"}
            .col-lg-2
              %a.btn.btn-link{"ng-click": "toggle_like(entry)", href:""}
                %i.fa.fa-thumbs-up
                %b Like it!
          %div{"ng-if": "entry.liked"}
            .col-lg-2
              %a.btn.btn-link{"ng-click": "toggle_like(entry)", href:""}
                %i.fa.fa-thumbs-down
                %b Stop liking

        .col-lg-2
          %button.btn.btn-link{href: "#modal-comments", "data-toggle": "modal"}
            %i.fa.fa-commenting
            %b Comment


    %hr
    %h3{style:"margin-bottom:20px"}
      %i.fa.fa-comments-o.text-info
      %b
        Comments
    %div#comments{"ng-include": "'#{ asset_path("comments/new.html.haml") }'", "ng-controller": "commentCreateCtrl"}
    %div#comments{"ng-include": "'#{ asset_path("comments/index.html.haml") }'", "ng-controller": "commentIndexCtrl"}
