.col-lg-6.col-lg-offset-3.well
  %form.form-horizontal{"ng-submit": "sign_in()"}
    %fieldset
      %legend
        %b Log in
      .form-group
        %label.col-lg-2.control-label{for:"email"}
        .col-lg-10
          %input.form-control#email{type:"email", autofocus:true, placeholder:"Email", required:true, "ng-model": "email"}
      .form-group
        %label.col-lg-2.control-label{for:"password"}
        .col-lg-10
          %input.form-control#password{type:"password", autocomplete:"off", placeholder:"Password", required:true, "ng-model": "password"}
          .checkbox
            %label{for:"remember_me"}
              %input#remember_me{type:"checkbox"}
              Remember me
      %br
      .actions.col-lg-10.col-lg-offset-2
        %button.btn.btn-primary{type:"submit"} Log in
      %br
