.col-lg-6.col-lg-offset-3.well
  %form.form-horizontal{"ng-submit": "sign_up()"}
    %fieldset
      %legend
        %b Sign up
      .form-group
        %label.col-lg-2.control-label{for:"name"}
        .col-lg-10
          %input.form-control#name{type:"text", placeholder:"Name", autofocus:true, required:true, "ng-model": "name"}
      .form-group
        %label.col-lg-2.control-label{for:"nick"}
        .col-lg-10
          %input.form-control#nick{type:"text", placeholder:"Nick", autofocus:true, required:true, "ng-model": "nick"}
      .form-group
        %label.col-lg-2.control-label{for:"birthday"}
        .col-lg-10
          %input.form-control#birthday{type:"text", placeholder:"Birthday", autofocus:true, required:true, "ng-model": "birthday"}
      .form-group
        %label.col-lg-2.control-label{for:"email"}
        .col-lg-10
          %input.form-control#email{type:"email", placeholder:"Email", autofocus:true, required:true, "ng-model": "email"}
      .form-group
        %label.col-lg-2.control-label{for:"password"}
        .col-lg-10
          %em
            (8 characters minimum)
          %input.form-control#password{type:"password", placeholder:"Password", autocomplete: "off", required:true, "ng-model": "password"}
      .form-group
        %label.col-lg-2.control-label{for:"password_confirmation"}
        .col-lg-10
          %input.form-control#password_confirmation{type:"password", placeholder:"Password Confirmation", autocomplete: "off", required:true, "ng-model": "password_confirmation"}
      .actions.col-lg-10.col-lg-offset-2
        %button.btn.btn-primary{type:"submit"} Sign up

  %hr
