.col-lg-4.text-center
  -# = image_tag "face-sad.png", class:"img-responsive"
  %i.fa.fa-ban.text-danger{style:"font-size:300px;"}

.col-lg-8
  .jumbotron
    %h1
      %b
        %span 403 Forbidden
    %p You don't have permission to access...
