!!! 5
%html{"ng-app": "fakebook-app"}
  %head
    %base{href:"/"}
    %title Fakebook
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.body-bar{"ng-controller": "generalCtrl"}
    .container-fluid
      %header
        %nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              %button.navbar-toggle.collapsed{type:"button", "data-toggle": "collapse", "data-target": "#nav1"}
                %span.sr-only Menu
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path, class:"navbar-brand brand" do
                = icon "comments"
                %span.logo FAKEBOOK
            .collapse.navbar-collapse#nav1
              %div{"ng-if": "logged() && !admin()", "ng-cloak": ""}
                %form.navbar-form.navbar-left{action:"", role:"Find friends", "ng-submit": "search($event)", "ng-controller": "searchCtrl"}
                  .input-group
                    %input.form-control.ui-autocomplete#input-search{type:"text", placeholder:"Find friends", "ng-change": "autocomplete()", "ng-model": "term", "users-autocomplete": ""}
                    .input-group-btn
                      %button.btn.btn-link#btn-search{type: "submit"}= icon "search"
                %ul.nav.navbar-nav
                  %li
                    %button.btn.navbar-btn{href: "#modal-publish", "data-toggle": "modal", style:"margin-left:10px"}
                      %b
                        = icon "pencil-square"
                        &nbsp;
                        Publish

              -# NOT ADMIN USERS
              %ul.nav.navbar-nav.navbar-right{"ng-if": "logged() && !admin()", "ng-cloak":""}
                %li
                  %a.user-btn{"ng-href": "/users/{{current_user.id}}"}
                    %b
                      @{{current_user.nick}}
                    &nbsp;
                    = image_tag asset_path("default-user.jpg"), class:"navbar-user"
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle": "dropdown", role:"button"}
                    = icon "bars"
                  %ul.dropdown-menu
                    %li{"ng-controller": "authCtrl"}
                      %a.btn.btn-link{href:"", "ng-click": "sign_out()"}
                        %b
                          = icon "sign-out"
                          Sign out
                    %li.divider
                    %li
                      %a.btn.btn-link{href: "#modal-delete-user", "data-toggle": "modal"}
                        %b
                          = icon "user-times"
                          Delete account

              -# ADMIN USERS
              %ul.nav.navbar-nav.navbar-right{"ng-if": "logged() && admin()", "ng-cloak":""}
                %li
                  %a.btn.btn-link{href:"/admin/users"}
                    %b
                      = icon "dashboard"
                      Management
                %li{"ng-controller": "authCtrl"}
                  %a.btn.btn-link{href:"", "ng-click": "sign_out()"}
                    %b
                      = icon "sign-out"
                      Sign out

              -# NOT LOGGED
              %ul.nav.navbar-nav.navbar-right{"ng-if": "!logged()", "ng-cloak":""}
                %li
                  %a.btn.btn-link{"ng-href": "{{paths.auth.sign_in}}"}
                    %b
                      = icon "sign-in"
                      Log in
                %li
                  %a.btn.btn-link{"ng-href": "{{paths.auth.sign_up}}"}
                    %b
                      = icon "user-plus"
                      Sign up

      .container.white-box
        %div#alerts{"ng-controller": "alertsCtrl"}
          -# Backend alerts
          - [notice].each do |n|
            - if n
              .alert.alert-dismissible.alert-info
                %button.close{"data-dismiss": "alert"}
                  %span &times;
                = icon "info-circle"
                &nbsp;
                %b= n

          - [alert].each do |a|
            - if a
              .alert.alert-dismissible.alert-danger
                %button.close{"data-dismiss": "alert"}
                  %span &times;
                = icon "exclamation-triangle"
                &nbsp;
                %b= a
          -# Frontend alerts
          %div{"ng-repeat": "(type, messages) in alerts"}
            .alert.alert-dismissible{"ng-repeat": "m in messages", "ng-class": "{'alert-info': type == 'info', 'alert-danger': type == 'error'}"}
              %button.close{type:"button", "ng-click": "remove(type,m)"}
                &times;
              %p
                %div{"ng-switch": "type", "style": "display:inline;"}
                  = icon "info-circle", "ng-switch-when": "info"
                  = icon "exclamation-triangle", "ng-switch-when": "error"
                &nbsp;
                %b {{m}}

        -# We use it for angularjs instead of yield.
        %div{"ng-view": "", "ng-cloak": ""}

    %div{"ng-if": "logged()"}
      .modal.fade#modal-delete-user{"ng-controller": "authCtrl"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss": "modal", "aria-hidden":true, type:"button"} &times;
              %h3 Are you sure you want to delete your account?
            .modal-body
              %p If you destroy your account you will not be able to log in later.
            .modal-footer
              %a{"ng-click": ""}
              -# FIXME Not such link
              = link_to current_user, method: :delete, class:"btn btn-danger" do
                = icon "times"
                Delete account

      %div{"ng-include": "'#{ asset_path("entries/new.html.haml") }'"}
